/resurse/css_files/meniu-mare.css
/resurse/css_files/meniu-mediu.css
/resurse/css_files/meniu-mic.css
/resurse/css_files/grid-galerie.css
curs.txt
intrebari.txt
resurse/videouri/news-video.mov
/node_modules
/resurse/temp
index.html
/backup
password.txt