html{
    --bg-color: #1a1a1af1;
    --button-color: #4dd0e1;
    --highlight: #f15a24;
    --text-color: #efefef;
    --border-color: #a6a6a6;
}

html{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 18px;
    transition: font-size 0.3s ease;
}

h1{
    font-size: 2.5em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
body{
    font-size: 1em;
}
#welcome img{
    width: 600px;
}
#grid-pagina{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "z-welcome z-welcome z-welcome"
                         "z-tabel z-tabel z-news"
                         "z-event-calendar z-user-stats z-news"
                         "z-online-users z-user-stats z-news"
                         "z-online-users z-announcements z-site-stats";
}

#grid-pagina > *{
    outline: 1px solid var(--border-color);
    margin: 0;
}

#welcome{
    grid-area: z-welcome;
}

#store{
    grid-area: z-store;
}

#wishlist{
    grid-area: z-wishlist;
}

#locations{
    grid-area: z-locations;
}

#tabel{
    grid-area: z-tabel;
}

#event-calendar{
    grid-area: z-event-calendar;
}

#online-users{
    grid-area: z-online-users;
}

#user-stats{
    grid-area: z-user-stats;
}

#announcements{
    grid-area: z-announcements;
}
#site-stats{
    grid-area: z-site-stats;
}

#faq{
    grid-area: z-faq;
}

#news{
    grid-area: z-news;
}

#game-trailers{
    grid-area: z-game-trailers;
}

#support{
    grid-area: z-support;
}

#about{
    grid-area: z-about;
}

@media screen and (max-width: 768) {
    html{
        animation: none;
    }
}

@media screen and (min-width: 360px) {
    html{
       font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    html{
       font-size: 16px;
    }
}

@media screen and (min-width: 1366px) {
    html{
       font-size: 18px;
    }
}