@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Exo+2:wght@300&display=swap');
html{
    --bg-color: #1a1a1af1;
    --button-color: #4dd0e1;
    --highlight: #f15a24;
    --text-color: #efefef;
    --links-color: #719dfd;
    --border-color: #a6a6a6;
}
*{
    box-sizing: border-box;
}
html{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 18px;
    transition: font-size 0.3s ease;
    font-family: 'Exo 2', sans-serif;
}
body{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
h1, h2, h3{
    font-family: 'Audiowide', cursive;
    margin-bottom: 0.2em;
    letter-spacing: 0.1em;

}
h1{
    font-size: 2.5em;
    letter-spacing: 0.3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
body{
    font-size: 1em;
}
#welcome img{
    width: 600px;
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 3.5px solid var(--border-color);
    border-radius: 10%;
}
#grid-pagina{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "z-welcome z-welcome z-welcome"
                         "z-tabel z-tabel z-news"
                         "z-event-calendar z-user-stats z-news"
                         "z-online-users z-user-stats z-news"
                         "z-online-users z-announcements z-site-stats";
}

#grid-pagina > section{
    padding: 10px;
}
#grid-pagina > *{
    outline: 1px solid var(--border-color);
    margin: 0;
}

#welcome{
    grid-area: z-welcome;
}

#store{
    grid-area: z-store;
}

#wishlist{
    grid-area: z-wishlist;
}

#locations{
    grid-area: z-locations;
}

#tabel{
    grid-area: z-tabel;
}

#event-calendar{
    grid-area: z-event-calendar;
}

#online-users{
    grid-area: z-online-users;
}

#user-stats{
    grid-area: z-user-stats;
}

#announcements{
    grid-area: z-announcements;
}
#site-stats{
    grid-area: z-site-stats;
}

#faq{
    grid-area: z-faq;
}

#news{
    grid-area: z-news;
    padding: 10px;
}
#news h3{
    margin-top: 0.3em;
}

#game-trailers{
    grid-area: z-game-trailers;
}

#support{
    grid-area: z-support;
}

#about{
    grid-area: z-about;
}

#link-top {
    position: fixed;
    bottom: 0.3em;
    right: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.7em;
    height: 1.8em;
    border-radius: 50% 50% 0 0;
    border: 2px solid #fff;
    text-align: center;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--button-color);
}
 
 #link-top:hover {
    color: #333;
    opacity: 1;
    transform: scale(1.2);
 }
#link-top > span{
    transition: all 0.3s ease-out;
}
 #link-top:hover > span{
    font-size: 60px;
 }
 
 #link-top::after {
    content: "TOP OF PAGE";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: var(--text-color);
    font-size: 12px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
 }
 
 #link-top:hover::after {
    opacity: 1;
 }

#arrow{
    font-size: 40px;
}




.container-iframe{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.taburi-iframe a{
    font-weight: bold;
    display: block;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    margin-bottom: 0.1em;
    background-color: var(--button-color);
    width: 10em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3s ease-in-out;
   
}

.taburi-iframe a:hover{
    background-color: var(--text-color);
    color: var(--button-color);
}


.taburi-iframe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
iframe{

    border: 4px solid var(--border-color);
    border-right-color: #c7c7c7
}

@media screen and (max-width: 768) {
    html{
        animation: none;
    }
}

@media screen and (min-width: 360px) {
    html{
       font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    html{
       font-size: 16px;
    }
}

@media screen and (min-width: 1366px) {
    html{
       font-size: 18px;
    }
}