
/* //////////////////// ECRAN TELEFON //////////////////// */


@media screen and (max-width: 480px){
    body{
        --margin-spacing: 0px;
        --grid-gap: 0px;
        --main-sections-spacing: 0px;
        animation: none;
        font-size: 10px;
        margin-left: var(--margin-spacing);
        margin-right: var(--margin-spacing);
    }
    

    #grid-pagina{
        gap: var(--grid-gap);
    }
    header, body{
        margin-bottom: var(--main-sections-spacing);
    }
    #game-trailers{
        display: none;
    }
    #download {
        display: none;
    }
    #grid-pagina{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "z-welcome"
                             "z-news"
                             "z-event-calendar"
                             "z-tabel"
                             "z-online-users"
                             "z-user-stats"
                             "z-announcements"
                             "z-site-stats"
                             "z-galerie";
    }
    
    #site-stats p{
        column-count: 1;
    }
    .grid-store{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--grid-gap);
    }
    #cookies-banner{
        animation: none !important;
    }
    header.myheader {
        flex-direction: column;
        align-items: center;
      }
 
      #tema{
        width: 5em;
        
      }
      .login-input input{
        width: 10em;
        height: 5vh;
      }
      .login-input button{
        height: 5vh;
      }
      ul.meniu{
        margin-top: 0;
    }
}

/* //////////////////// ECRAN TABLETA //////////////////// */

@media screen and (min-width: 481px) and (max-width: 1023px){
    body{
        font-size: 16px;
        --margin-spacing: 20px;
        --grid-gap: 15px;
        --main-sections-spacing: 20px;
     }
     body{
        margin-left: var(--margin-spacing);
        margin-right: var(--margin-spacing);
    }

    #download{
        display: none;
    }

    #grid-pagina{
        gap: var(--grid-gap);
    }
    
    header, body{
        margin-bottom: var(--main-sections-spacing);
    }
    #grid-pagina{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "z-welcome z-welcome"
                             "z-tabel z-tabel"
                             "z-news z-event-calendar"
                             "z-news z-user-stats"
                             "z-online-users z-site-stats"
                             "z-announcements z-announcements"
                             "z-galerie z-galerie";
    }
    /* #acasa, #store-menu, #welcome-menu, #news-menu, #support-menu, #about-menu{
        display: none;
    } */
    #acasa, #register{
        display: none;
    }
    #acasa-mediu, #register-mediu{
        display: inline-block;
    }
    ul.meniu > li > div:not(:first-child){
        display: none;
    }
    ul.meniu > li > div{
        display: inline-block;
    }
    /* #acasa-mediu, #store-mediu, #welcome-mediu, #news-mediu, #support-mediu, #about-mediu{
        display: inline-block;
    } */
    
    #site-stats p{
        column-count: 1;
    }
    .grid-store{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--grid-gap);
    }
    #cookies-banner{
        animation: none !important;
    }
   header.myheader h1{
    font-size: 2em;
   }
}

/* //////////////////// ECRAN DESKTOP/LAPTOP //////////////////// */

@media screen and (min-width: 1024px){
    body{
        font-size: 18px;
    }
    #grid-pagina{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "z-welcome z-welcome z-welcome"
                             "z-tabel z-tabel z-news"
                             "z-event-calendar z-user-stats z-news"
                             "z-online-users z-announcements z-site-stats"
                             "z-galerie z-galerie z-galerie";
    }
    .grid-store{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--grid-gap);
    }
}
