@media screen and (max-width: 480px) {
  body {
    --latime-buton: 100%;
  }
  nav {
    height: 3em;
  }
  .hamburger-menu {
    cursor: pointer;
    height: var(--intaltime-buton);
    transition: opacity 0.3s ease-in-out;
    position: relative;
    display: block;
  }
  .line {
    width: 29px;
    height: 3px;
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 3px;
    position: absolute;
    left: 5px;
    display: block;
  }
  .line:nth-child(1) {
    top: 5px;
  }
  .line:nth-child(2) {
    top: 15px;
  }
  .line:nth-child(3) {
    top: 25px;
  }
  #ch-menu:checked ~ ul.meniu {
    display: block;
    animation: cerinta 0.3s ease-in-out forwards;
  }
  #ch-menu:checked + label.hamburger-menu > span.line:nth-child(1) {
    animation: crossFirstLine 0.6s ease-in-out forwards;
  }
  #ch-menu:checked + label.hamburger-menu > span.line:nth-child(2) {
    animation: crossSecondLine 0.6s ease-in-out forwards;
  }
  #ch-menu:checked + label.hamburger-menu > span.line:nth-child(3) {
    animation: crossThirdLine 0.6s ease-in-out forwards;
  }
  #ch-menu:not(:checked) + label.hamburger-menu > span.line:nth-child(1) {
    animation: normalFirstLine 0.6s ease-in-out forwards;
  }
  #ch-menu:not(:checked) + label.hamburger-menu > span.line:nth-child(2) {
    animation: normalSecondLine 0.6s ease-in-out forwards;
  }
  #ch-menu:not(:checked) + label.hamburger-menu > span.line:nth-child(3) {
    animation: normalThirdLine 0.6s ease-in-out forwards;
  }
  ul.meniu {
    display: none;
  }
  ul.meniu a, ul.meniu div {
    color: var(--text-color);
  }
  ul.meniu li {
    transition: all 0.3s ease-in-out;
  }
  ul.meniu li:hover {
    background-color: var(--text-color);
  }
  ul.meniu > li > ul > li a {
    transition: all 0.3s ease-in-out;
  }
  ul.meniu > li > ul > li:hover a {
    color: var(--button-color);
  }
  ul.meniu > li:hover div {
    color: var(--button-color);
  }
  @keyframes cerinta {
    from {
      transform-origin: top left;
      transform: rotate(-90deg);
    }
    to {
      transform-origin: top left;
      transform: rotate(0);
    }
  }
  @keyframes crossFirstLine {
    0% {
      top: 5px;
      transform: rotate(0);
    }
    50% {
      top: 15px;
      transform: rotate(0);
    }
    100% {
      top: 15px;
      transform: rotate(45deg);
    }
  }
  @keyframes normalFirstLine {
    0% {
      top: 15px;
      transform: rotate(45deg);
    }
    50% {
      top: 15px;
      transform: rotate(0);
    }
    100% {
      top: 5px;
      transform: rotate(0);
    }
  }
  @keyframes crossThirdLine {
    /* from{
      top: 25px;
    }
    to{
      top: 15px;
      transform: rotate(-45deg);
    } */
    0% {
      top: 25px;
      transform: rotate(0);
    }
    50% {
      top: 15px;
      transform: rotate(0);
    }
    100% {
      top: 15px;
      transform: rotate(-45deg);
    }
  }
  @keyframes normalThirdLine {
    0% {
      top: 15px;
      transform: rotate(-45deg);
    }
    50% {
      top: 15px;
      transform: rotate(0);
    }
    100% {
      top: 25px;
      transform: rotate(0);
    }
  }
  @keyframes crossSecondLine {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes normalSecondLine {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}