body {
  --latime-buton: 7em;
  --intaltime-buton: 3em;
}

nav {
  height: var(--intaltime-buton);
  background-color: var(--bg-color);
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
nav:hover {
  opacity: 1;
}
nav.nav-fixed {
  position: fixed;
  top: 0;
  opacity: 0.6;
  z-index: 100; /* Make sure your navbar appears on top */
  transition: all 0.3s ease-in-out;
}
nav.nav-fixed:hover {
  opacity: 1;
}

span.fa-solid {
  margin-right: 0.2em;
}

ul.meniu li {
  width: var(--latime-buton);
  height: var(--intaltime-buton);
  background-color: var(--bg-color);
  text-align: center;
  line-height: var(--intaltime-buton);
  position: relative;
  transition: all 0.3s ease-in-out;
}
ul.meniu > li div {
  display: inline-block;
}
ul.meniu > li:hover ul {
  display: block;
  position: relative;
  z-index: 100;
  animation: dropdown 0.3s ease-in-out forwards;
}
ul.meniu > li:nth-child(n+3):hover div {
  color: var(--button-color);
}

#ch-menu {
  display: none;
}

@keyframes dropdown {
  from {
    transform-origin: center;
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    transform-origin: center;
    opacity: 1;
    transform: scaleY(1);
  }
}