@media screen and (max-width: 700px) {
    
    .hamburger-menu{
        cursor: pointer;
        height: var(--intaltime-buton);
        transition: opacity 0.3s ease-in-out;
        position: relative;
        display: block;
    }
    
    
    .line{
        width: 29px;
        height: 3px;
        background-color: var(--text-color);
        border: 1px solid var(--text-color);
        border-radius: 3px;
        position: absolute;
        left: 5px;
        transform: translate(0, -30%);
    }
    .line:nth-child(1){
        top: 5px;
        
    }
    
    .line:nth-child(2){
        top: 15px;
    
    }
    
    .line:nth-child(3){
        top: 25px;
    }
    
    #ch-menu:checked + ul.meniu{
        display: block;
        animation: dropdown 0.3s ease-in-out forwards;
    }
    
    ul.meniu{
        display: none;
    }
    
    body{
        --latime-buton: 100%;
    }
    
    ul.meniu a, ul.meniu div{
        color: var(--text-color);
    }
    ul.meniu li:hover{
        background-color: var(--active-button-color);
        
    }


}