html{
    --margin-spacing: 40px;
    --main-sections-spacing: 30px;
    --grid-gap: 20px;
}

body{
    margin-left: var(--margin-spacing);
    margin-right: var(--margin-spacing);
}

header{
    background-color: var(--header-color);
    transition: all 0.3s ease;
    margin-top: 10px;
}
header:hover{
    box-shadow: 0px 0px 10px 5px rgb(0, 191, 255, 0.6);
}

#grid-pagina{
    gap: var(--grid-gap);
}

#grid-pagina > *{
    transition: box-shadow 0.3s ease;
    background-color: var(--grid-color);
}

#grid-pagina > *:hover{
    box-shadow: 0px 0px 10px 5px rgb(0, 191, 255, 0.6);
}

footer{
    background-color: var(--footer-color);
}

header, body{
    margin-bottom: var(--main-sections-spacing);
}


@media screen and (max-width: 480px) {
    html{
        --margin-spacing: 0px;
        --grid-gap: 10px;
        --main-sections-spacing: 15px
    }
    body{
        margin-left: var(--margin-spacing);
        margin-right: var(--margin-spacing);
    }
    #grid-pagina{
        gap: var(--grid-gap);
    }
    header, body{
        margin-bottom: var(--main-sections-spacing);
    }
}

@media screen and (max-width: 768px) {
    html{
        --margin-spacing: 20px;
        --grid-gap: 15px;
        --main-sections-spacing: 20px;
    }

    body{
        margin-left: var(--margin-spacing);
        margin-right: var(--margin-spacing);
    }

    #grid-pagina{
        gap: var(--grid-gap);
    }
    
    header, body{
        margin-bottom: var(--main-sections-spacing);
    }
}