html{
    --margin-spacing: 40px;
    --main-sections-spacing: 30px;
    --grid-gap: 20px;
}

body{
    margin-left: var(--margin-spacing);
    margin-right: var(--margin-spacing);
}

header{
    background-color: var(--header-color);
    transition: all 0.3s ease;
    margin-top: 10px;
}
header:hover{
    box-shadow: 0px 0px 10px 5px rgb(0, 191, 255, 0.6);
}

#grid-pagina{
    gap: var(--grid-gap);
}

#grid-pagina > *{
    transition: box-shadow 0.3s ease;
    background-color: var(--grid-color);
}

#grid-pagina > *:hover{
    box-shadow: 0px 0px 10px 5px rgb(0, 191, 255, 0.6);
}

footer{
    background-color: var(--footer-color);
}

header, body{
    margin-bottom: var(--main-sections-spacing);
}

img{
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3.5px solid var(--border-color);
    border-radius: 10%;
    width: 70%;
    min-width: 30px;
    max-width: 350px;
}

