 #wishlist > *{
    padding-left: 20px;
}



/* GRID STORE */





.product {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: var(--grid-color);
    padding-top: 10px;
   padding-left: 20px;
   transition: box-shadow 0.2s ease-in-out;
   border-radius: 5%;
}

.product:hover{
    box-shadow: 0px 0px 5px 2px rgba(241, 90, 36, 0.8);
}

h2.header-store{
    padding-left: 20px;
}

h3.name {
    margin: 0;
}
