 #wishlist > *{
    padding-left: 20px;
}

#filters{
    padding-left: 20px;
    margin-bottom: var(--main-sections-spacing);
   transition: all 0.3s ease-in-out;
    background-color: var(--grid-color);
}

#filters  label {
    margin-top: 0.6em;
}

#filters label input{
    max-width: 20vw;
    max-height: 1.5em;
}
textarea{
    max-width: 40vw;
    max-height: 1.5em;
}
select{
    max-width: 20vw;
    max-height: 5em;
}
#filters > :nth-child(n+3){
    display: none;
}

#showhidefilters{
    cursor: pointer;
}
#store{
    margin-top: var(--main-sections-spacing);
}
/* GRID STORE */


/* #platforms label{
    display: block;
} */


.product {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: var(--grid-color);
    padding-top: 10px;
    padding-left: 20px;
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 5%;
}

.product:hover{
    box-shadow: 0px 0px 5px 2px rgba(241, 90, 36, 0.8);
}

h2.header-store{
    padding-left: 20px;
}

h3.name {
    margin: 0;
}

#pagini{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
   
}

#pagini > p{
    margin: 1em;
    cursor: pointer;
    
}