<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sparkle, sprkl, gaming store, games, buy games, online gaming shop, cool games, epic games">
    <meta name="description" content="Sparkle(SPRKL) is the safest and fastest way of buying games.">
    <meta name="author" content="Vladimir Stratulat">
    <title>SPARKLE</title>
    
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="about">
                <h2>About</h2>
                <section id="info-video">
                    <video controls poster="/resurse/imagini/video-poster.png" preload="none">
                        <source src="/resurse/videouri/dna-video.mp4" type="video/mp4">
                        <source src="/resurse/videouri/dna-video.mov" type="video/mov">
                        <track default src="/resurse/videouri/tracks/english_sub.vtt" kind="captions" srclang="en" label="english"/>
                        <track src="/resurse/videouri/tracks/romanian_sub.vtt" kind="captions" srclang="ro" label="română"/>
                    </video>
                </section>
                <div class="about-list">
                    <details id="about-us">
                        <summary><strong>About us</strong></summary>
                        <p>Welcome to SPARKLE, your favourite and safest game-shop. You just don't know it yet.</p>
                    </details>
                </div>
                <div class="about-list">
                    <details id="our-history">
                        <summary><strong>Our history</strong></summary>
                        <p>SPARKLE was founded in 2023 by a large group consisting of one person and... that's about it. I promise though, that person is very passionate!</p>
                    </details>
                </div>
                <div class="about-list">
                    <details id="fetaures">
                        <summary><strong>Features</strong></summary>
                        <p>Our store offers a user-friendly interface, fast and secure payment processing, and all of the games you could ever imagine.</p>
                    </details>
                </div>
                <div class="about-list">
                    <details id="testimonials">
                        <summary><strong>Testimonials</strong></summary>
                        <ul>
                            <li>
                                <p><q>Let me tell you folks, Sparkle, or as I like to call it, SPRKL, is tremendous, believe me. It's the greatest online gaming store out there, better than Steam or Epic Games, believe me. They have the most amazing games, and their customer service is the best, the very best.
                                    And let me tell you, their prices are unbeatable, you won't find better deals anywhere else. I'm telling you, if you're a gamer, you've got to check out SPARKLE. 
                                    It's a winner, believe me. </q>- Donald J. Trump himself</p>
                            </li>
                            <li>
                                <p><q>We're no strangers to gaming stores, you know the rules, and so do I. A full commitment to customer service is what we're thinking of, you wouldn't get this from any other store. We just want to tell you how we're feeling, SPARKLE's gonna make you smile. They've got the best games around, and their prices are truly worthwhile. 
                                    They'll never gonna give you up, never gonna let you down, never gonna run around and desert you. SPARKLE's the gaming store you've been searching for, and we're not gonna say goodbye or hurt you.</q>- Rick Astley, the legend</p>
                            </li>
                        </ul>
                    </details>
                </div>
                <section id="locations">
                    <h2>Locations</h2>
                    <p>Everywhere you are, as long as you have internet connection.</p>
                    <p>Also, if you wish to visit us in person, here are the locations:</p>
                    <div>
                        <ul id="locations-list">
                            <li>
                                <p>Location 1:</p>
                                <address>
                                    Adresa:<a href="https://shorturl.at/bFIMV" target="_blank">Facultatea de Matematica si Informatica</a>
                                    <br>
                                    Telefon: <a href="tel:+40712345678">+40712345678</a>
                                </address>
                            </li>
                            <li>
                            <p>Location 2:</p>
                                <address>
                                    Adresa:<a href="https://shorturl.at/bFIMV" target="_blank"> Facultatea de Matematica si Informatica</a>
                                    <br>
                                    Telefon: <a href="tel:+40712345678">+40712345678</a>
                                </address>
                            </li>
                            <li>
                            <p>Location 3:</p>
                                <address>
                                    Adresa:<a href="https://shorturl.at/bFIMV" target="_blank"> Facultatea de Matematica si Informatica</a>
                                    <br>
                                    Telefon: <a href="tel:+40712345678">+40712345678</a>
                                </address>
                            </li>
                            <li>
                                <p>Location 4:</p>
                                <address>
                                    Adresa:<a href="https://shorturl.at/bFIMV" target="_blank"> Facultatea de Matematica si Informatica</a>
                                    <br>
                                    Telefon: <a href="tel:+40712345678">+40712345678</a>
                                </address>
                            </li>
                            <li>
                                <p>Location 5:</p>
                                <address>
                                    Adresa:<a href="https://shorturl.at/bFIMV" target="_blank"> Facultatea de Matematica si Informatica</a>
                                    <br>
                                    Telefon: <a href="tel:+40712345678">+40712345678</a>
                                </address>
                            </li>
                        </ul>
                    </div>
                </section>
                <section id="faq">
                    <h2>Frequently Asked Questions</h2>
                    <div>
                        <details>
                            <summary><strong>Which platforms does SPARKLE support?</strong></summary>
                            <p>SPARKLE currently supports <i>PC</i> and <i>Mac</i>. Keep in mind that every product will have compatibility information in its <q>specifications</q> section.</p>
                        </details>
                        <details>
                            <summary><strong>Are the products eligible for a refund?</strong></summary>
                            <p>All of our <em>games</em> are eligible for a refund within a 14 days grace period. Please keep in mind that consumables are not eligible for refunds. Check the product's page
                            and look for the tag <q>refundable</q> or <q>non-refundable</q>.</p>
                        </details>
                        <details>
                            <summary><strong>Which payment methods are supported?</strong></summary>
                            <p>SPARKLE supports payments through credit cards, cash(in-store) or PayPal.</p>
                        </details>
                        <details>
                            <summary><strong>Can i buy something as a gift?</strong></summary>
                            <p>Of course! You can buy gift cards or games as gifts, with special thematic packaging for physical game copies.
                                For digital games, you just have to give us the recipient's SPARKLE account.</p>
                        </details>
                    </div>
                </section>
                <div class="about-list">
                    <details id="contact-details">
                        <summary><strong>Contact details</strong></summary>
                        <a href="tel:+40712345678">Phone Number</a>
                        <br>
                        <a href="https://shorturl.at/DGHT6">Send us a message on WhatsApp</a>
                        <br>
                        <a href="mailto:sparkle_support@sprkl.com">Mail</a>
                        <address>
                            <a href="https://shorturl.at/bFIMV" target="_blank"> Address</a>
                        </address>
                    </details>
                </div>
        </section>
        
    </main>
    <br><br>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>