<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sparkle, sprkl, gaming store, games, buy games, online gaming shop, cool games, epic games">
    <meta name="description" content="Sparkle(SPRKL) is the safest and fastest way of buying games.">
    <meta name="author" content="Vladimir Stratulat">
    <title>SPARKLE</title>
    
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="support">
            <h2>Support</h2>
            <section class="support-list">
                <h3>Games and online orders</h3>
                <div class="support-list">
                    <p>If you need <i>support</i> with one of the <i>games</i> you bought from us, you have come to the right place.</p>
                    <p>Press <a href="#contact-details">this</a> to find your preffered way of contacting us.</p>
                </div>
            </section>
            <section class="support-list">
                <h3 id="emotional-support">Emotional</h3>
                <div>
                    <p>If you need <i>emotional support</i>, please call us as soon as possible at <a href="tel:+40736374629">+407EMERGNCY</a> and we will redirect you to our nearest specialist.</p>
                </div>
            </section>
        </section>
    </main>
    <br><br>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>