<footer id="contact">
    <p id="banner">Acesta este un proiect scolar</p>
    <a href="#" id="link-top"><span id="arrow">🠹</span></a>
    <br>
    <a href="tel:+40712345678"> Phone Number</a>
    <br>
    <a href="https://shorturl.at/DGHT6">Send us a message on WhatsApp</a>
    <br>
    <a href="mailto:sparkle_support@sprkl.com">Mail</a>
    <address>
        <a href="https://shorturl.at/bFIMV" target="_blank"> Address</a>
    </address>
    <small id="copyright">   
      &copy;  SPARKLE Vladimir Stratulat <time datetime="2023-04-21">2023-04-21</time>. All rights reserved.
       <span class="fa-solid fa-copyright fa-beat-fade fa-xs" style="color: #efefef;"></span>
    </small>
</footer>
<div id="watermark">
    <div>Vladimir</div>
    <div>Stratulat</div>
</div>