<nav>
    <input type="checkbox" id="ch-menu">
    <label class="hamburger-menu" for="ch-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </label>
    <ul class="meniu">
        <li><a href="/index#"><div id="acasa-mediu"><span class="fa-solid fa-house"></span></div><div id="acasa">Home</div></a></li>
        <li><div id="store-mediu"><span class="fa-solid fa-store"></span></div><div id="store-menu">Store</div>
            <ul>
                <li><a href="/store#featured-games">Featured</a></li>
                <li><a href="/store#discounted-games">Discounts</a></li>
                <li><a href="/store#wishlist">Wishlist</a></li>
            </ul>
        </li>
        <li><div id="welcome-mediu"><span class="fa-solid fa-door-open"></span></div><div id="welcome-menu">Welcome</div>
            <ul>
                <li><a href="/index#tabel">Schedule</a></li>
                <li><a href="/index#event-calendar">Calendar</a></li>
            </ul>
        </li>
        <li><div id="news-mediu"><span class="fa-solid fa-newspaper"></span></div><div id="news-menu">News</div>
            <ul>
                <li><a href="/index#latest-releases">Latest</a></li>
                <li><a href="/index#upcoming-games">Upcoming</a></li>
            
            </ul>
        </li>
        <li><div id="support-mediu"><span class="fa-solid fa-phone"></span></div><div id="support-menu">Support</div>
            <ul>
                <li><a href="/support#support">Games</a></li>
                <li><a href="/support#support">Orders</a></li>
                <li><a href="/support#emotional-support">Emotional</a></li>
            </ul>
        </li>
        <li><div id="about-mediu"><span class="fa-solid fa-address-card"></span></div><div id="about-menu">About</div>
            <ul>
                <li><a href="/about#about">About Us</a></li>
                <li><a href="/about#locations">Locations</a></li>
                <li><a href="/about#faq">FAQ</a></li>
                <li><a href="/about#contact">Contact</a></li>
            </ul>
        </li>
    </ul>
</nav> 
<header class="myheader">
    <a href="/index#"><h1><span>SPARKLE</span></h1></a>
    <div class="menu-and-login">
        
        <!-- <form class="login-input">
            <input type="text" name="Username" placeholder="Username">
            <br>
            <input type="password" name="Password" placeholder="Password">
            <br>
            <button>Login</button>
        </form> -->
    </div>
    <br>
    <div id="download">
        <a href="" download=""><p>Install Client</p></a>
    </div>
</header>