    body{
        --latime-buton: 7em;
        --intaltime-buton: 2em;
        --menu-text-color: #d3d2d2;
        --active-button-color: #8ee3ee;
    }

    nav{
        height: var(--intaltime-buton);
        background-color: var(--button-color);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;

        &:hover{
            opacity: 1;
        }
    }
    
    span.fa-solid{
        margin-right: 0.2em;
    }
    ul.meniu{
        li{
            width: var(--latime-buton);
            height: var(--intaltime-buton);
            background-color: var(--button-color);
            text-align: center;
            line-height: var(--intaltime-buton);
            position: relative;  
        }
        > li{
            div{
                display: inline-block;
            }
            &:hover{
                ul{
                    display: block;
                    position: relative;
                    z-index: 100;
                    animation: dropdown 0.3s ease-in-out forwards;
                
                }
            }
            &:not(:first-child):hover{
                div{
                    color: var(--button-color);
                }
            }
            
        }
        
    }

    #ch-menu{
        display: none;
    }

    @keyframes dropdown{
        from{
            opacity: 0;
            transform: translateY(-10px);
        }
        to{
            opacity: 1;
            transform: rotateY(0);
        }
    }


